section {
  height: 100%;
  width: 100%;
}
.main {
  background-image: url("https://s3-ap-southeast-2.amazonaws.com/qwilr-aus/4BAJ6xgPPUW5i95Lw1W1jiTaCFtJBGEXwClDhA.jpeg");
  background-size: cover;
}
.mainTitle {
  color: white;
  text-align: center;
  height: 100vh;
}
.name {
  font-family: "Dancing Script", cursive;
  font-size: 5em;
  font-weight: lighter;
  margin-top: -1%;
  padding-top: 25%;
}
.title {
  font-weight: 100;
  font-family: "Merriweather", serif;
  font-size: 2.5em;
  margin: -3%;
}
h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
}
.image {
  height: 60px;
  width: 60px;
}
.about {
  height: 70vh;
  width: 70vw;
}
.aboutMe {
  text-align: left;
  position: relative;
  margin-left: 35%;
  margin-top: 15%;
}
.aboutTitle {
  font-family: "Dancing Script", cursive;
  color: #fc7a70;
  font-size: 5em;
}
.aboutName {
  margin-top: -7%;
  font-size: 2em;
  font-family: "Merriweather", serif;
  color: #7be1dc;
}
article {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
}
.social {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.pageTitles {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 5em;
  font-weight: lighter;
  text-align: center;
  margin-top: 0%;
  padding-top: 2%;
}
.thumbsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-left: 8%;
  padding-bottom: 8%;
}
.thumbs {
  height: 40vh;
  width: 40vw;
}
.thumbs img {
  height: 20vw;
  width: 25vw;
}
.list {
  color: white;
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  font-weight: lighter;
  text-align: center;
  margin: -2%;
  height: 100vh;
}
.list h2 {
  margin: 0.5em;
}
.experience {
  background-image: url("https://s3-ap-southeast-2.amazonaws.com/qwilr-aus/E5r2lvan_-xpG9ywHd8kBAt78_l2wc1oUHFQWA.jpeg");
  background-size: cover;
}
.jobs {
  width: 100vw;
  color: white;
  text-align: center;
}
.jobTitle {
  font-family: "Merriweather", serif;
  font-size: 2.2em;
}
.jobPlace {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
}
.jobDesc {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  width: 40vw;
  margin-left: 30%;
  font-weight: lighter;
}
.dates {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
}
.row {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row h2 {
  color: white;
  font-family: "Merriweather", serif;
  font-size: 2em;
  font-weight: bolder;
}
.video-fill {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.video-fill video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
